.checkboxWrap {
  cursor: pointer;
  display: inline-block;
  /* width: ${size}px; */
  /* height: ${size}px; */
  position: relative;
}
.emptyCircle {
  /* width: ${size}px; */
  /* height: ${size}px; */
  border: 1px solid #e3e3e3;
  border-radius: 100%;
  display: none;
  /* position: absolute;
  top: 0px;
  left: 0px; */
  /* visibility: hidden; */
}
.checkImage {
  /* position: absolute;
  top: 0px;
  left: 0px; */
  display: none;
  /* visibility: hidden; */
}
.active {
  display: inline-block !important;
}
