.container {
  position: relative;
  padding: 200px 0;
  background: linear-gradient(
    180deg,
    #f0f9ff 29.34%,
    rgba(240, 249, 255, 0) 100%
  );
}
.contents {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
}
.bold {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 550;
  line-height: 70px;
  letter-spacing: -0.01em;
  font-variation-settings: "wdth" 100;
  margin-bottom: 60px;
  text-align: center;
}
.emphasis {
  color: #1397ed;
}
.description {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.01em;
  margin-bottom: 70px;
}
.productItem {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: center;
  cursor: pointer;
}
.productItem:nth-child(odd) {
  margin-top: 26px;
}
.center {
  position: absolute;
  top: 166px;
  left: 120px;
}
.rowCenter {
  display: flex !important;
  justify-content: center;
}
.triangleDescription {
  font-size: 28px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: -0.01em;
  text-align: left;
}
.triangle {
  width: 360px;
  height: 315px;
  position: relative;
  margin: 0 auto;
}
.analysis {
  position: absolute;
  top: 86px;
  left: calc(50% - 39px);
}
.platform {
  position: absolute;
  bottom: 32px;
  left: 14%;
}
.marketing {
  position: absolute;
  bottom: 32px;
  right: 18%;
}
.columnReverse {
  display: flex;
  flex-direction: column-reverse;
}

@media (max-width: 768px) {
  .container {
    padding: 100px 0;
  }
  .bold {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 22px;
  }
  .contents {
    max-width: 300px;
  }
  .description {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
  }
  .productItem:nth-child(odd) {
    margin-top: 0;
  }
  .triangle {
    width: 280px;
    height: 245px;
    margin-bottom: 40px;
  }
  .triangleDescription {
    font-size: 20px;
    line-height: 32px;
  }
}
