.delphicomBg {
  width: 100%;
  height: 720px;
  max-width: 1064px;
  margin: 0 auto;
  padding: 100px 20px 0 20px;
  position: relative;
  z-index: 2;
}
.delphicomBg p {
  font-size: 30px;
  line-height: 48px;
  letter-spacing: -0.01em;
  font-variation-settings: "wdth" 100;
  font-weight: 550;
  color: #ffffff;
  margin-bottom: 30px;
  z-index: 1;
}
.emphasis {
  color: #a1e3ff !important;
}
.productItem p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #000000;
}
@media (max-width: 768px) {
  .delphicomBg {
    padding: 20px 30px;
  }
  .delphicomBg p {
    font-size: 22px;
    font-weight: 550;
    line-height: 32px;
    margin-bottom: 16px;
  }
}
