.delphicomBg {
  width: 100%;
  height: 640px;
  width: 1024px;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
  z-index: 2;
}
.delphicomBg p {
  font-size: 30px;
  line-height: 48px;
  letter-spacing: -0.01em;
  font-variation-settings: "wdth" 100;
  font-weight: 550;
  color: #ffffff;
  margin-bottom: 30px;
  z-index: 1;
}
.emphasis {
  color: #a1e3ff !important;
}
