.header {
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 5;
  /* 스크롤바 가려짐 방지 */
  width: calc(100% - 15px);
  transition: background-color 0.3s;
}
.rowWrap {
  margin: 0 auto;
  max-width: 1056px;
  padding: 0 16px;
}
.topMenu {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: unset !important;
}
.topMenu li span {
  font-weight: 550;
  line-height: 14px;
  letter-spacing: -0.01em;
}
.navigation ul {
  color: #ffffff;
  justify-content: end;
  border-bottom: unset;
}
.navigation > ul > li::after {
  border-bottom-width: 0 !important;
}
.backColor {
  background: #ffffff;
}
.backColor ul {
  color: #000000;
}
.navigation ul li:hover {
  color: #ffffff;
}
.mobileButtons {
  height: 80px;
  display: none !important;
  align-items: center;
  justify-content: end;
}
.mobileMenu {
  visibility: hidden;
  padding: 30px 0;
  cursor: pointer;
}
.menuOn {
  visibility: visible;
  background: #ffffff;
  transition: all 0.5s ease;
}
.mobileMenuRow {
  padding: 20px 30px;
}
.mobileMenuRow span {
  font-size: 17px;
  font-weight: 550;
  line-height: 17px;
  letter-spacing: -0.01em;
  text-align: left;
  font-variation-settings: "wdth" 100;
}
.mobileMenuActive {
  color: #1397ed;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }
}

@keyframes showDown {
  /* 0% {
    background-color: unset;
  }
  100% {
    background-color: #ffffff;
  } */
  from {
    /* transform: translateY(-60%); */
    height: 0px;
    color: unset;
  }
  to {
    height: 237px;
    /* transform: translateY(0%); */
  }
}

@media (max-width: 768px) {
  .mobileButtons {
    display: flex !important;
  }
  .navigation {
    display: none !important;
  }
}
