.container {
  height: 100%;
  width: 100%;
  background: #ffffff;
}
.contents {
  overflow: auto;
  max-height: 100%;
  position: relative;
  padding-top: 80px;
  margin: 0 auto;
}
.bgHeader {
  width: 100%;
  height: 720px;
  position: absolute;
  top: 0;
}
.bgImage {
  z-index: 0;
}

.sectiontitle {
  font-size: 56px;
  font-weight: 550;
  line-height: 70px;
  letter-spacing: -0.01em;
  text-align: center;
  font-variation-settings: "wdth" 100;
  margin-bottom: 60px;
}
.description {
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 100px;
}
